:root {
  --main-text-cl: rgba(255, 255, 255, 0.1);
  --accent-cl: #2196f3;
  --black: #303030;
  --gray: #9da4bb;
  --button: #ffffff;
  --background: #f5f4fa;
  --email: rgba(255, 255, 255, 0.6);
  --menu: #757575;
  --footer: #2f303a;
}
